svg {
  /*background:gray;*/
  display: block;
  margin: auto;
}

.node circle {
  fill: #fff;
  stroke: rgb(51, 51, 51);
  stroke-width: 2px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: rgb(51, 51, 51);
  stroke-width: 2px;
}

.hidden {
  stroke: rgba(0, 0, 0, 0);
}
.node.hidden {
  fill: rgba(0, 0, 0, 0) !important;
  stroke: rgba(0, 0, 0, 0);
}
